name: 01.1_templated_project-dev-rg-001

on:
  workflow_dispatch:
    inputs:
      envName: 
        default: "dev"



env:
  working_directory: ../infrastructure/01_project-env-rg-001/"
  envFilePath: "01.1_project-${{ github.event.inputs.envname }}-rg-001_variables.env"
  
  

      
jobs:

  plan:
    uses: huw564/k8s/.github/workflows/terraform_plan.yml@main
    with:
      working_directory: "${{ env.working_directory }}"
      envFilePath: "01.1_project-${{ github.event.inputs.envname }}-rg-001_variables.env"
      envName: "dev"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  apply:
    needs:  plan
    uses: huw564/k8s/.github/workflows/terraform_apply.yml@main
    with:
      working_directory: "./infrastructure/01_project-env-rg-001/"
      envFilePath: "01.1_project-${{ github.event.inputs.envname }}-rg-001_variables.env"
      envName: "dev"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
