name: hwtest

on: workflow_dispatch

env:
  working_directory: "./infrastructure/test-rg/"

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: "List working directory"
        run: echo env:working_directory
