name: ryantest

on: workflow_dispatch

jobs:
  build:
    environment: test-rg
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh
        working-directory: "./infrastructure/test-rg"
    steps:
    # checkout the repo
    - uses: actions/checkout@v2

    - name: Show env vars
      shell: pwsh
      run: |
          dir env:
          echo "RunID1-$env:GITHUB_RUN_ID"
